.contact {
  /* background: #ecf3f3; */
  position: relative;

  overflow: hidden;
}

.particle {
  position: absolute;
  border-radius: 50%;
}

@-webkit-keyframes particle-animation-1 {
  100% {
    transform: translate3d(70vw, 86vh, 32px);
  }
}

@keyframes particle-animation-1 {
  100% {
    transform: translate3d(70vw, 86vh, 32px);
  }
}
.particle:nth-child(1) {
  -webkit-animation: particle-animation-1 60s infinite;
  animation: particle-animation-1 60s infinite;
  opacity: 0.02;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
  transform: translate3d(22vw, 20vh, 75px);
  background: #d9265f;
}

@-webkit-keyframes particle-animation-2 {
  100% {
    transform: translate3d(63vw, 39vh, 41px);
  }
}

@keyframes particle-animation-2 {
  100% {
    transform: translate3d(63vw, 39vh, 41px);
  }
}
.particle:nth-child(2) {
  -webkit-animation: particle-animation-2 60s infinite;
  animation: particle-animation-2 60s infinite;
  opacity: 0.7;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
  transform: translate3d(45vw, 58vh, 54px);
  background: #d9263b;
}

@-webkit-keyframes particle-animation-3 {
  100% {
    transform: translate3d(18vw, 41vh, 75px);
  }
}

@keyframes particle-animation-3 {
  100% {
    transform: translate3d(18vw, 41vh, 75px);
  }
}
.particle:nth-child(3) {
  -webkit-animation: particle-animation-3 60s infinite;
  animation: particle-animation-3 60s infinite;
  opacity: 0.11;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
  transform: translate3d(74vw, 41vh, 59px);
  background: #26d953;
}

@-webkit-keyframes particle-animation-4 {
  100% {
    transform: translate3d(26vw, 68vh, 1px);
  }
}

@keyframes particle-animation-4 {
  100% {
    transform: translate3d(26vw, 68vh, 1px);
  }
}
.particle:nth-child(4) {
  -webkit-animation: particle-animation-4 60s infinite;
  animation: particle-animation-4 60s infinite;
  opacity: 0.28;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
  transform: translate3d(86vw, 79vh, 9px);
  background: #d95926;
}

@-webkit-keyframes particle-animation-5 {
  100% {
    transform: translate3d(63vw, 74vh, 80px);
  }
}

@keyframes particle-animation-5 {
  100% {
    transform: translate3d(63vw, 74vh, 80px);
  }
}
.particle:nth-child(5) {
  -webkit-animation: particle-animation-5 60s infinite;
  animation: particle-animation-5 60s infinite;
  opacity: 0.75;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
  transform: translate3d(37vw, 42vh, 89px);
  background: #47d926;
}

@-webkit-keyframes particle-animation-6 {
  100% {
    transform: translate3d(77vw, 55vh, 9px);
  }
}

@keyframes particle-animation-6 {
  100% {
    transform: translate3d(77vw, 55vh, 9px);
  }
}
.particle:nth-child(6) {
  -webkit-animation: particle-animation-6 60s infinite;
  animation: particle-animation-6 60s infinite;
  opacity: 0.36;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -1.2s;
  animation-delay: -1.2s;
  transform: translate3d(30vw, 43vh, 11px);
  background: #26acd9;
}

@-webkit-keyframes particle-animation-7 {
  100% {
    transform: translate3d(13vw, 32vh, 74px);
  }
}

@keyframes particle-animation-7 {
  100% {
    transform: translate3d(13vw, 32vh, 74px);
  }
}
.particle:nth-child(7) {
  -webkit-animation: particle-animation-7 60s infinite;
  animation: particle-animation-7 60s infinite;
  opacity: 0.57;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -1.4s;
  animation-delay: -1.4s;
  transform: translate3d(49vw, 4vh, 85px);
  background: #2626d9;
}

@-webkit-keyframes particle-animation-8 {
  100% {
    transform: translate3d(52vw, 33vh, 48px);
  }
}

@keyframes particle-animation-8 {
  100% {
    transform: translate3d(52vw, 33vh, 48px);
  }
}
.particle:nth-child(8) {
  -webkit-animation: particle-animation-8 60s infinite;
  animation: particle-animation-8 60s infinite;
  opacity: 0.75;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -1.6s;
  animation-delay: -1.6s;
  transform: translate3d(11vw, 23vh, 84px);
  background: #26d97a;
}

@-webkit-keyframes particle-animation-9 {
  100% {
    transform: translate3d(68vw, 23vh, 25px);
  }
}

@keyframes particle-animation-9 {
  100% {
    transform: translate3d(68vw, 23vh, 25px);
  }
}
.particle:nth-child(9) {
  -webkit-animation: particle-animation-9 60s infinite;
  animation: particle-animation-9 60s infinite;
  opacity: 0.54;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -1.8s;
  animation-delay: -1.8s;
  transform: translate3d(85vw, 63vh, 47px);
  background: #d926a3;
}

@-webkit-keyframes particle-animation-10 {
  100% {
    transform: translate3d(10vw, 81vh, 59px);
  }
}

@keyframes particle-animation-10 {
  100% {
    transform: translate3d(10vw, 81vh, 59px);
  }
}
.particle:nth-child(10) {
  -webkit-animation: particle-animation-10 60s infinite;
  animation: particle-animation-10 60s infinite;
  opacity: 0.68;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
  transform: translate3d(65vw, 35vh, 57px);
  background: #26d968;
}

@-webkit-keyframes particle-animation-11 {
  100% {
    transform: translate3d(37vw, 66vh, 8px);
  }
}

@keyframes particle-animation-11 {
  100% {
    transform: translate3d(37vw, 66vh, 8px);
  }
}
.particle:nth-child(11) {
  -webkit-animation: particle-animation-11 60s infinite;
  animation: particle-animation-11 60s infinite;
  opacity: 0.55;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -2.2s;
  animation-delay: -2.2s;
  transform: translate3d(76vw, 61vh, 51px);
  background: #af26d9;
}

@-webkit-keyframes particle-animation-12 {
  100% {
    transform: translate3d(19vw, 4vh, 57px);
  }
}

@keyframes particle-animation-12 {
  100% {
    transform: translate3d(19vw, 4vh, 57px);
  }
}
.particle:nth-child(12) {
  -webkit-animation: particle-animation-12 60s infinite;
  animation: particle-animation-12 60s infinite;
  opacity: 0.46;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -2.4s;
  animation-delay: -2.4s;
  transform: translate3d(59vw, 6vh, 52px);
  background: #26d9ca;
}

@-webkit-keyframes particle-animation-13 {
  100% {
    transform: translate3d(87vw, 85vh, 1px);
  }
}

@keyframes particle-animation-13 {
  100% {
    transform: translate3d(87vw, 85vh, 1px);
  }
}
.particle:nth-child(13) {
  -webkit-animation: particle-animation-13 60s infinite;
  animation: particle-animation-13 60s infinite;
  opacity: 0.32;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -2.6s;
  animation-delay: -2.6s;
  transform: translate3d(31vw, 12vh, 100px);
  background: #91d926;
}

@-webkit-keyframes particle-animation-14 {
  100% {
    transform: translate3d(22vw, 20vh, 99px);
  }
}

@keyframes particle-animation-14 {
  100% {
    transform: translate3d(22vw, 20vh, 99px);
  }
}
.particle:nth-child(14) {
  -webkit-animation: particle-animation-14 60s infinite;
  animation: particle-animation-14 60s infinite;
  opacity: 1;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -2.8s;
  animation-delay: -2.8s;
  transform: translate3d(82vw, 28vh, 32px);
  background: #2671d9;
}

@-webkit-keyframes particle-animation-15 {
  100% {
    transform: translate3d(1vw, 65vh, 25px);
  }
}

@keyframes particle-animation-15 {
  100% {
    transform: translate3d(1vw, 65vh, 25px);
  }
}
.particle:nth-child(15) {
  -webkit-animation: particle-animation-15 60s infinite;
  animation: particle-animation-15 60s infinite;
  opacity: 0.57;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -3s;
  animation-delay: -3s;
  transform: translate3d(46vw, 78vh, 83px);
  background: #6526d9;
}

@-webkit-keyframes particle-animation-16 {
  100% {
    transform: translate3d(11vw, 46vh, 89px);
  }
}

@keyframes particle-animation-16 {
  100% {
    transform: translate3d(11vw, 46vh, 89px);
  }
}
.particle:nth-child(16) {
  -webkit-animation: particle-animation-16 60s infinite;
  animation: particle-animation-16 60s infinite;
  opacity: 0.27;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -3.2s;
  animation-delay: -3.2s;
  transform: translate3d(7vw, 22vh, 69px);
  background: #d92682;
}

@-webkit-keyframes particle-animation-17 {
  100% {
    transform: translate3d(40vw, 26vh, 93px);
  }
}

@keyframes particle-animation-17 {
  100% {
    transform: translate3d(40vw, 26vh, 93px);
  }
}
.particle:nth-child(17) {
  -webkit-animation: particle-animation-17 60s infinite;
  animation: particle-animation-17 60s infinite;
  opacity: 0.88;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -3.4s;
  animation-delay: -3.4s;
  transform: translate3d(48vw, 43vh, 42px);
  background: #7726d9;
}

@-webkit-keyframes particle-animation-18 {
  100% {
    transform: translate3d(6vw, 31vh, 99px);
  }
}

@keyframes particle-animation-18 {
  100% {
    transform: translate3d(6vw, 31vh, 99px);
  }
}
.particle:nth-child(18) {
  -webkit-animation: particle-animation-18 60s infinite;
  animation: particle-animation-18 60s infinite;
  opacity: 0.93;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -3.6s;
  animation-delay: -3.6s;
  transform: translate3d(32vw, 87vh, 12px);
  background: #26a3d9;
}

@-webkit-keyframes particle-animation-19 {
  100% {
    transform: translate3d(90vw, 61vh, 92px);
  }
}

@keyframes particle-animation-19 {
  100% {
    transform: translate3d(90vw, 61vh, 92px);
  }
}
.particle:nth-child(19) {
  -webkit-animation: particle-animation-19 60s infinite;
  animation: particle-animation-19 60s infinite;
  opacity: 0.64;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -3.8s;
  animation-delay: -3.8s;
  transform: translate3d(45vw, 74vh, 61px);
  background: #d92653;
}

@-webkit-keyframes particle-animation-20 {
  100% {
    transform: translate3d(33vw, 5vh, 33px);
  }
}

@keyframes particle-animation-20 {
  100% {
    transform: translate3d(33vw, 5vh, 33px);
  }
}
.particle:nth-child(20) {
  -webkit-animation: particle-animation-20 60s infinite;
  animation: particle-animation-20 60s infinite;
  opacity: 0.14;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -4s;
  animation-delay: -4s;
  transform: translate3d(19vw, 55vh, 25px);
  background: #7726d9;
}

@-webkit-keyframes particle-animation-21 {
  100% {
    transform: translate3d(36vw, 76vh, 36px);
  }
}

@keyframes particle-animation-21 {
  100% {
    transform: translate3d(36vw, 76vh, 36px);
  }
}
.particle:nth-child(21) {
  -webkit-animation: particle-animation-21 60s infinite;
  animation: particle-animation-21 60s infinite;
  opacity: 0.12;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -4.2s;
  animation-delay: -4.2s;
  transform: translate3d(19vw, 11vh, 66px);
  background: #d926b8;
}

@-webkit-keyframes particle-animation-22 {
  100% {
    transform: translate3d(10vw, 42vh, 50px);
  }
}

@keyframes particle-animation-22 {
  100% {
    transform: translate3d(10vw, 42vh, 50px);
  }
}
.particle:nth-child(22) {
  -webkit-animation: particle-animation-22 60s infinite;
  animation: particle-animation-22 60s infinite;
  opacity: 0.47;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -4.4s;
  animation-delay: -4.4s;
  transform: translate3d(83vw, 29vh, 85px);
  background: #53d926;
}

@-webkit-keyframes particle-animation-23 {
  100% {
    transform: translate3d(55vw, 80vh, 89px);
  }
}

@keyframes particle-animation-23 {
  100% {
    transform: translate3d(55vw, 80vh, 89px);
  }
}
.particle:nth-child(23) {
  -webkit-animation: particle-animation-23 60s infinite;
  animation: particle-animation-23 60s infinite;
  opacity: 0.33;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -4.6s;
  animation-delay: -4.6s;
  transform: translate3d(34vw, 16vh, 94px);
  background: #80d926;
}

@-webkit-keyframes particle-animation-24 {
  100% {
    transform: translate3d(58vw, 18vh, 10px);
  }
}

@keyframes particle-animation-24 {
  100% {
    transform: translate3d(58vw, 18vh, 10px);
  }
}
.particle:nth-child(24) {
  -webkit-animation: particle-animation-24 60s infinite;
  animation: particle-animation-24 60s infinite;
  opacity: 0.87;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -4.8s;
  animation-delay: -4.8s;
  transform: translate3d(1vw, 20vh, 100px);
  background: #d97126;
}

@-webkit-keyframes particle-animation-25 {
  100% {
    transform: translate3d(68vw, 67vh, 62px);
  }
}

@keyframes particle-animation-25 {
  100% {
    transform: translate3d(68vw, 67vh, 62px);
  }
}
.particle:nth-child(25) {
  -webkit-animation: particle-animation-25 60s infinite;
  animation: particle-animation-25 60s infinite;
  opacity: 0.99;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -5s;
  animation-delay: -5s;
  transform: translate3d(66vw, 34vh, 22px);
  background: #35d926;
}

@-webkit-keyframes particle-animation-26 {
  100% {
    transform: translate3d(22vw, 86vh, 25px);
  }
}

@keyframes particle-animation-26 {
  100% {
    transform: translate3d(22vw, 86vh, 25px);
  }
}
.particle:nth-child(26) {
  -webkit-animation: particle-animation-26 60s infinite;
  animation: particle-animation-26 60s infinite;
  opacity: 0.32;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -5.2s;
  animation-delay: -5.2s;
  transform: translate3d(73vw, 10vh, 98px);
  background: #26d6d9;
}

@-webkit-keyframes particle-animation-27 {
  100% {
    transform: translate3d(55vw, 90vh, 67px);
  }
}

@keyframes particle-animation-27 {
  100% {
    transform: translate3d(55vw, 90vh, 67px);
  }
}
.particle:nth-child(27) {
  -webkit-animation: particle-animation-27 60s infinite;
  animation: particle-animation-27 60s infinite;
  opacity: 0.49;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -5.4s;
  animation-delay: -5.4s;
  transform: translate3d(70vw, 17vh, 64px);
  background: #d98826;
}

@-webkit-keyframes particle-animation-28 {
  100% {
    transform: translate3d(9vw, 74vh, 73px);
  }
}

@keyframes particle-animation-28 {
  100% {
    transform: translate3d(9vw, 74vh, 73px);
  }
}
.particle:nth-child(28) {
  -webkit-animation: particle-animation-28 60s infinite;
  animation: particle-animation-28 60s infinite;
  opacity: 0.57;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -5.6s;
  animation-delay: -5.6s;
  transform: translate3d(44vw, 69vh, 65px);
  background: #35d926;
}

@-webkit-keyframes particle-animation-29 {
  100% {
    transform: translate3d(25vw, 83vh, 32px);
  }
}

@keyframes particle-animation-29 {
  100% {
    transform: translate3d(25vw, 83vh, 32px);
  }
}
.particle:nth-child(29) {
  -webkit-animation: particle-animation-29 60s infinite;
  animation: particle-animation-29 60s infinite;
  opacity: 0.53;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -5.8s;
  animation-delay: -5.8s;
  transform: translate3d(62vw, 4vh, 9px);
  background: #3526d9;
}

@-webkit-keyframes particle-animation-30 {
  100% {
    transform: translate3d(26vw, 75vh, 48px);
  }
}

@keyframes particle-animation-30 {
  100% {
    transform: translate3d(26vw, 75vh, 48px);
  }
}
.particle:nth-child(30) {
  -webkit-animation: particle-animation-30 60s infinite;
  animation: particle-animation-30 60s infinite;
  opacity: 0.11;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -6s;
  animation-delay: -6s;
  transform: translate3d(37vw, 44vh, 25px);
  background: #80d926;
}
