@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600&family=Syne:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .center {
    @apply max-w-7xl mx-auto px-5 xl:px-0;
  }
  .flexallcenter {
    @apply flex items-center justify-center;
  }
  .line {
    @apply w-full bg-[#3d3d3d] h-[1px];
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff !important;
  font-family: "Poppins", sans-serif;
}

button {
  cursor: pointer;
  font-family: "Syne", sans-serif;
}

h1 {
  font-family: "Syne", sans-serif;
  /* font-size: 59px; */
  font-weight: 700;
}

.hero {
  background-image: url("assets/bg.jpg");
  background-repeat: no-repeat;
  overflow: hidden;
  width: 100%;
  position: relative;
}

.linked,
.projectlink {
  position: relative;
  display: inline-block;
}

.linked::before,
.projectlink::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #0d1727;
  border-radius: 4px;
  scale: 0 1;
  transform-origin: left;
  transition: scale 0.25s;
}
.linked:hover::before,
.projectlink:hover:before {
  scale: 1;
}

.projectlink::before {
  background-color: #777af2;
  transition: scale 0.85s;
}

/* Mouuse  CSS */
.mouse {
  width: 28px;
  height: 50px;
  border: 2px solid #1e266d;
  border-radius: 20px;
  display: inline-flex;
}
.mouse-wheel {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #1e266d;
  border-radius: 50%;
  margin: auto;
  animation: moveWheel 1.25s linear infinite;
}
@keyframes moveWheel {
  0% {
    opacity: 0;
    translate: 0 16px;
  }

  100% {
    opacity: 1;
    translate: 0 -16px;
  }
}

/* waves  */

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(assets/wave6.png);
  background-size: 1000px 100px;
}

.wave.wave1 {
  animation: animate 30s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}

@keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}
.wave.wave2 {
  animation: animate2 15s linear infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 20px;
}

@keyframes animate2 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -1000px;
  }
}
.wave.wave3 {
  animation: animate 30s linear infinite;
  z-index: 998;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 30px;
}

.wave.wave4 {
  animation: animate2 5s linear infinite;
  z-index: 997;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 50px;
}

.about-btn {
  letter-spacing: 0.5px;
  /* margin: 30px 0 0; */
  padding: 15px 35px;

  background-color: #1e266d;
  color: #f4f4fd;
  text-transform: uppercase;
  font-weight: bolder;
  border: 1px solid #1e266d;
  cursor: pointer;
  font-family: "Syne", sans-serif;
}

.about-btn:hover {
  background-color: #f4f4fd;
  color: #1e266d;
  border: 1px solid black;
  transition: all 0.3s;
}

/* Contact  */

.contact-section ul li {
  list-style: none;
  padding: 20px;
  width: 280px;
  font-size: 16px;
}

.contact-section ul li:nth-child(2) {
  border-left: 1px solid #1e266d;
}

/* Footer  */

.footer-icn {
  /* background-color: #ffffff; */
  width: 40px;
  height: 40px;
  margin-left: 20px;
  border-radius: 44%;
  border: 1px solid black;
  padding: 7px;
}

/* Loader  */
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}
.loader::before,
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 6px solid #777af2;
  animation: prixClipFix 2s linear infinite;
}
.loader::after {
  transform: rotate3d(90, 90, 0, 180deg);
  border-color: #1e266d;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  75%,
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
}

@media (max-width: 767px) {
  .contact-section ul li:nth-child(2) {
    border-left: none;
  }
}

/* dark mode  */

@media (prefers-color-scheme: dark) {
  body {
    background-color: #fff !important;
  }
}
